# Python
backend/venv/
backend/venv311/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/*.db
backend/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
.history/
